body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.roomContainer {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid red;
}

.room-list-container {
  height: 100%;
  border: 1px solid yellow;
  overflow-y:auto;
}

.room-menu-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.room-name:hover {
  cursor: pointer;
}

.tabs-container {
  width: 12rem;
  height: 100%;
  display: flex;
  justify-content: space-between;
}



/* CHAT */
.chat-input-container {
  width: 100%;
  padding: 3px;
  min-height: 43px;
  flex-shrink: 0;
}
.chat-input-menu {
  display: flex;
  justify-content: flex-end;
}

/* CONTACTS */
.contacts-container {
  height: 100%;
  box-sizing: border-box;
  padding-bottom: 20px;
}
.add-contact-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 2rem;
}

.contact-search {
  margin: 1rem;
}

.add-contact-title {
  text-align: center;
}

.contact-list-container {
  height: 100%;
  overflow-y: auto;
}

/* MESSAGE CARD */
.message-content-container {
  display: grid;
  grid-template-rows: 1rem auto;
  width: 95%;
  padding-left: 0.75rem;

}

.messages-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow-y: scroll;
  border: 2px solid yellow;
}

.messages-container > :first-child {
  margin-top: auto !important;
  /* use !important to prevent breakage from child margin settings */
}

